@model sagedalaaedeinw4.Models.entities.Product


<h2>Create Product</h2>

<form asp-action="Edit" method="post">


    <input asp-for="Id" type="hidden" />

    <div>
        <label>Name</label>
        <input asp-for="Name" type="text" />
    </div>

    <div>
        <label> <b>Description</b></label>
        <input asp-for="Description" type="text" />
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" type="number" />
    </div>

    <div>
        <label>StockQuantity</label>
        <input asp-for="StockQuantity" type="number" />
    </div>

    <div>
        <label> <b>Category</b></label>
        <input asp-for="Category" type="text" />
    </div>


    <button type="submit">Save</button>
</form>